<!--The content below is only a placeholder and can be replaced.-->
<!-- 
<nav>
  <a routerLink="/car">car</a>
</nav> -->
<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/car">Car</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
<div class="container">
  <router-outlet></router-outlet>
</div>